<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Combinations</title>
</head>
<body>
    <h2>2-Column Combinations:</h2>
    <ul>
        {% for combination in combinations_2 %}
            <li>{{ combination }}</li>
        {% endfor %}
    </ul>

    <h2>3-Column Combinations:</h2>
    <ul>
        {% for combination in combinations_3 %}
            <li>{{ combination }}</li>
        {% endfor %}
    </ul>
</body>
</html>
