{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Display</title>
    <link rel="stylesheet" href="{% static 'DataCleaning/style.css' %}">
    <link rel="stylesheet" href="{% static 'DataCleaning/style1.css' %}">
</head>
<body>
        <form  enctype='multipart/form-data'>
            {% csrf_token %}
            <div class="upload-files-container">
                <div class="drag-file-area">
                    <label for="file-upload" class="button">
                        
                        <span class="button__text">Upload File</span>
                        <span class="button__icon">
                        <svg class="svg" fill="none" height="24" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                        <line x1="12" x2="12" y1="5" y2="19"></line>
                        <line x1="5" x2="19" y1="12" y2="12"></line>
                        </svg>
                        </span>
                        <span class="browse-files"> 
                            <input type="file"  id="file-upload"   class="default-file-input" accept=".xls, .xlsx, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, text/csv" style="display: none;"/> 
                            <span class="browse-files-text"></span>
                    </label>
                </div>
                <div class="file-block">
                    <div class="file-info"> <span class="material-icons-outlined file-icon">description</span> <span class="file-name"> </span> | <span class="file-size">  </span> </div>
                    <span class="material-icons remove-file-icon">delete</span>
                    <div class="progress-bar"> </div>
                </div>
                <button type="button" class="upload-button"> Upload </button>
            </div>
        </form>      
     <!--Visualization and cleaning button--> 
    <div id="buttons-container" style="display: none;">
            <form method="post" action="{% url 'data_cleaning' %}?file_path={{ file_path }}">
                {% csrf_token %}
                <button type="submit">Data Cleaning</button>
            </form>
            <a href="{% url 'data_visualization' %}">
                <button>Data Visualization</button>
            </a>
        </div>
        
    <h1>Data Display</h1>

    {% if data_list %}
        {% if row_limit %}
            <p>Displaying the first {{ row_limit }} rows</p>
        {% endif %}
        <div   id="scrollableDiv"  style= "height: 500px; overflow-y: scroll;">
        <!-- Display original data -->
            <table  border="1">
                <thead>
                    <tr>
                        {% for column in data_list.0.keys %}
                            <th>{{ column }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody >
                    {% for row in data_list %}
                        <tr>
                            {% for value in row.values %}
                                <td>{{ value|safe }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <button id="reloadButton">Reload</button>
        <form method="post" action="{% url 'perform_operation' %}">
            {% csrf_token %}
        
            <label for="{{ operation_form.operation.id_for_label }}">Operation:</label>
            {{ operation_form.operation }}
        
            <label for="{{ operation_form.column_name.id_for_label }}">Columns to Delete:</label>
            <select multiple name="{{ operation_form.column_name.name }}">
                {% for column in operation_form.column_name.field.choices %}
                    <option value="{{ column.0 }}">{{ column.1 }}</option>
                {% endfor %}
            </select>
            <button type="submit">Perform Operation</button>
        </form>

        <a href="{% url 'data_visualization' %}">
            <button>Data Visualization</button>
        </a>                                     
    {% else %}
        <p>No data available.</p>
    {% endif %}
    <script src="{% static 'DataCleaning/script.js' %}"></script>
</body>
</html>
